body{
    font-family: 华文宋体, serif;
    font-size: 100%;
    line-height: 100%;
    color: #6e4020;
    font-weight: bold;
    background: url(https://image.freepik.com/free-vector/memphis-style-black-gold-dots-pattern-background_1017-27576.jpg)no-repeat center center;
    background-size: cover;
    background-attachment:fixed;
    background-color:#f7ceb3;
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
}
#column1 img {
    vertical-align: middle;
    width: 100%;
}
#options{
    margin-left:10px;
    margin-top:20px;
}
#profile{
    background-color: white;
    padding: 30px 50px 30px 50px ;
    margin: 12vh auto 0 auto;
}
#marginbtn{
    margin-right:10px;
}
#history{
    width:400px;
}
#venderList{
    background-color:rgba(255, 255, 255, 0.8);
    padding:0 5px 0 5px;
    margin:10px auto 0 auto;
    width: 90vw;
}

/*For Laptop screen*/
@media screen and (min-width: 601px) {
    h1{
        font:bold 2em 华文宋体, Serif;
        color: #343A40;
        text-align: left;
    }
    h2{
        font:bold 1.5em 华文宋体, Serif;
        text-transform: capitalize;
        color: #343A40;
        margin-top:10px;
    }
    h3{
        font: bold 0.9em 华文宋体, Serif;
        color: #343A40;
    }
    h4{
        font: bold 1em 华文宋体, Serif;
        color: white;
    }
    h5{
        font:bold 1.2em 华文宋体, Serif;
        text-transform: capitalize;
        color: #343A40;
    }
    p{
        font: 0.9em 华文宋体，Serif;
        color: black;
    } 
    #appMain{
        width: 60vw;
        margin: auto;
        margin-top: 13vh;
    }
    #column1{
        -ms-flex: 40%;
        flex: 40%;
        max-width: 40%;
    } 
    #column2{
        margin-top:13%;
        -ms-flex: 55%;
        flex: 55%;
        max-width: 55%;
    }
    #icon{
        width:70px;
        height:50px;
    }
    #profile{
        width:40%;
    }
}

/*For Phone screen*/
@media screen and (max-width: 600px) {
    h1{
        font:bold 1em 华文宋体, Serif;
        color: #343A40;
        text-align: left;
    }
    h2{
        font:bold 0.7em 华文宋体, Serif;
        text-transform: capitalize;
        color: #343A40;
    }
    h3{
        font: bold 0.4em 华文宋体, Serif;
        color: #343A40;
    }
    h4{
        font: bold 1em 华文宋体, Serif;
        color: white;
        text-align: left;
    }
    h5{
        font:bold 0.6em 华文宋体, Serif;
        text-transform: capitalize;
        color: #343A40;
    }
    p{
        font: 0.4em 华文宋体，Serif;
        color: black;
    }
    #appMain{
        width: 85%;
        margin: auto;
        margin-top: 30vh;
    }
    #column1{
        -ms-flex: 45%;
        flex: 45%;
        max-width: 45%;
    } 
    #column2{
        margin-top:10%;
        -ms-flex: 53%;
        flex: 53%;
        max-width: 53%;
    }
    #icon{
        width:60px;
        height:auto;
    }
    #profile{
        width:100%;
    }
    #orderHistory{
        width:80%;
    }
    .my-drawer{
        width:80%;
    }
}

#nav{
    background-color: #615d5b;
}
#coffee{
    background-color: #fbf4eb;
    color:white;
    width: 100%;
    margin: 10px 0 10px 0;
}
#coffeemenu{
    background-color: #fbf4eb;
}
#order{
    background-color: #fbf4eb;
}
#rating{
    background-color: #fbf4eb;
}
#ratebtn{
    margin: -5px 10px 0 0;
}



/*#food{
    background-color: #f5e3ce;
    color:white;
    width: 100%;
    margin: 10px 0 10px 0;
}
#foodmenu{
    background-color: #f5e3ce;
}
#profileForm{
    margin-top: 80px;
    margin-left: auto;
    margin-right:auto;
    width: 40%;
}
#submitBtn{
    margin-left: 0px;
}
.site-page-header-ghost-wrapper {
    background-color: #fbf4eb;
}
*/

